/*index.html*/
:root {
  --praimary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #f4f4fd;
  --logo-text-color: #4d5ae5;
  --body-color: #ffffff;
  --footer-text-color: #e7e9fc;
  --color-grey: #2e2f42;
  --color-ocean: #404bbf;
  --color-green: #31d0aa;
}

body {
  background-color: var(--body-color);
  font-family: Roboto, sans-serif;
  color: var(--praimary-text-color);
}
/*---------------------- Navigation -------------------*/
.site-nav {
}
.staile {
  font-style: normal;
}
.site-nav-ling {
  color: var(--title-text-color);
}

.auth-nav-ling {
  color: var(--praimary-text-color);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.pages-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.auth-nav-ling:hover,
.auth-nav-ling:focus {
  color: var(--color-ocean);
}
.sontacs {
  font-style: normal;
}
.color {
  color: var(--logo-text-color);
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-titel {
  color: var(--title-text-color);
}
/*--------------------------- Baner -----------------------*/
.baner {
  background-color: var(--title-text-color);
}
.baner-titel {
  color: var(--body-color);

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  text-align: center;
  letter-spacing: 0.02em;
}

.button-baner {
  border: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-baner:hover,
.button-baner:focus {
  background-color: var(--color-ocean);
}
/*------------------------ Benefits -----------------*/
.benefits {
}

.benefits-list {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
}

.benefits-text {
  color: var(--praimary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
}
/*--------------------------- Reasons --------------------*/
.reasons {
}

.reasons-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/*------------------------------ Team ---------------------*/
.team {
  background-color: var(--accent-color);
}
.team-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-hero {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
}

.hero-text {
  color: var(--praimary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
}
/* ---------------------------Footer------------------------ */
.footer {
  background-color: var(--color-grey);

  font-family: Raleway, sans-serif;
}
.logo-footer {
  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}
.footer-titel {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
}

.footer-text {
  color: var(--footer-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
}

/*!-------------------Portfolio--------------------*/

.portfolio-button {
  background-color: var(--footer-text-color);
  color: var(--logo-text-color);
  border: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.portfolio-button:is(:hover, :focus) {
  background-color: var(--color-ocean);
  color: var(--body-color);
  border: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.projects-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.projects-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--praimary-text-color);
}
/*------------------------- Batton -------------------*/

.button {
  color: var(--body-color);
  background-color: var(--logo-text-color);
  border: 0px;
}

/*-------------------- Component --------------------*/

.section-title {
  color: var(--title-text-color);
}

.praimary-text {
  color: var(--praimary-text-color);
}
.pointer {
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
